* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.nav-logo {
    font-size: 30px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    transition: color .2s linear;
}

.nav-link:hover {
    color: #4b1d1d;
}

.about-inner {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 300px;
    background-color: #ebebeb;
    padding: 10px 20px;
    border-radius: 20px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-wrapper label {
    font-size: 13px;
}

.form-wrapper input[type=text] {
    height: 30px;
    border: 0;
    border-radius: 20px;
    padding-left: 10px;
}

#weatherBtn {
    height: 50px;
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    background-color: #cdcdcd;
    transition: background-color .2s linear;
}

#weatherBtn:hover {
    background-color: #b99898;
}

.about-title {
    font-size: 40px;
}

.api-name {
    font-size: 20px;
}
.api-desc {
    font-size: 14px;
    font-style: italic;
}

.header-inner {
    margin-top: 20px;
}

.weather-title {
    font-size: 30px;
    text-align: center;
}

.infoSection {
    width: 200px;
    background-color: #ebebeb;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc {
    font-size: 13px;
    font-style: italic;
}

.info {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

#countryInfo {
    width: 400px;
}

#cityWikiPage {
    width: 800px;
    display: flex;
    align-items: center;
}